html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  image-rendering: pixelated;

  --scale: 1;
}

#pets,
#pets[background="grass"] {
  width: calc(100% / var(--scale));
  height: calc(100% / var(--scale));
  position: absolute;
  top: 0;
  bottom: 0;
  transform-origin: 0% 0%;

  transform: scale(var(--scale));
  background-repeat: repeat;
  background: url(./backgrounds/grass.png);
}

/* base class for pets */
.pet {
  --size: 32px;
  width: var(--size);
  height: var(--size);

  position: absolute;
  --position-x: 0px;
  --position-y: 0px;
  left: var(--position-x);
  top: var(--position-y);

  --image: url(./pets/cat/black.png);
  background-image: var(--image);
  --offset-x: 0px;
  --offset-y: 0px;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);

  --emoteSize: 9px;
  --emoteElevation: 0px;
  --emote-x: 0px;
  --emote-y: 0px;
}

.pet[flip] {
  transform: scale(-1, 1);
}

/* cats */
.cat {
  --size: 32px;
  transform: scale(1.5);
  --emoteElevation: -9px;
  --image: url(./pets/cat/black.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

.cat[color="black"] {
  --image: url(./pets/cat/black.png);
  background-image: var(--image);
}

.cat[color="grey"] {
  --image: url(./pets/cat/grey.png);
  background-image: var(--image);
}

.cat[color="white"] {
  --image: url(./pets/cat/white.png);
  background-image: var(--image);
}

.cat[color="orange"] {
  --image: url(./pets/cat/orange.png);
  background-image: var(--image);
}

.cat[color="purple"] {
  --image: url(./pets/cat/purple.png);
  background-image: var(--image);
}

.cat[color="yellow"] {
  --image: url(./pets/cat/yellow.png);
  background-image: var(--image);
}

/* dogs */
.dog {
  --size: 32px;
  transform: scale(1.5);
  --emoteElevation: -4px;
  --image: url(./pets/dog.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* turtles */
.turtle {
  --size: 32px;
  transform: scale(1.5);
  --emoteElevation: -2px;
  --image: url(./pets/turtle.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* dino */
.dino {
  --size: 16px;
  transform: scale(2.5);
  --emoteElevation: 10px;
  --image: url(./pets/dino.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* duck */
.duck {
  --size: 16px;
  transform: scale(2.5);
  --emoteElevation: 8px;
  --image: url(./pets/duck.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* raccoon */
.raccoon {
  --size: 32px;
  transform: scale(1.5);
  --emoteElevation: -4px;
  --image: url(./pets/raccoon.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* goat */
.goat {
  --size: 32px;
  transform: scale(1.5);
  --emoteElevation: -7px;
  --image: url(./pets/goat.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* sheep */
.sheep {
  --size: 32px;
  transform: scale(1.5);
  --emoteElevation: -3px;
  --image: url(./pets/sheep.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* ostrich */
.ostrich {
  --size: 32px;
  transform: scale(1.5);
  --emoteElevation: -10px;
  --image: url(./pets/ostrich.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* pig */
.pig {
  --size: 32px;
  transform: scale(1.5);
  --emoteElevation: -8px;
  --image: url(./pets/pig.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* rabbit */
.rabbit {
  --size: 16px;
  transform: scale(2.5);
  --emoteElevation: 10px;
  --image: url(./pets/rabbit.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* chicken */
.chicken {
  --size: 16px;
  transform: scale(2.5);
  --emoteElevation: 10px;
  --image: url(./pets/chicken.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* cow */
.cow {
  --size: 32px;
  transform: scale(1.5);
  --emoteElevation: -3px;
  --image: url(./pets/cow.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* parrot */
.parrot {
  --size: 24px;
  transform: scale(2);
  --emoteElevation: -7px;
  --image: url(./pets/parrot.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

/* junimo */
.junimo {
  --size: 16px;
  transform: scale(2.5);
  --emoteElevation: 9px;
  --image: url(./pets/junimo.png);
  background-image: var(--image);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);
  image-rendering: pixelated;
}

.pet::after {
  content: "";

  width: var(--emoteSize);
  height: var(--emoteSize);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(./emotes/emotes.png);
  background-position-x: var(--emote-x);
  background-position-y: var(--emote-y);

  --translation-x: calc((var(--size) - var(--emoteSize)) / 2);
  --translation-y: calc(-1 * var(--emoteSize) - var(--emoteElevation));
  transform: translateX(var(--translation-x)) translateY(var(--translation-y));
  transform-origin: center;

  pointer-events: none;
  opacity: 0;
}

.pet[mood]::after {
  opacity: 1;
}

.pet[mood="happy"] {
  --emote-x: calc(-0 * var(--emoteSize));
  --emote-y: calc(-0 * var(--emoteSize));
}

.pet[mood="heart"] {
  --emote-x: calc(-1 * var(--emoteSize));
  --emote-y: calc(-3 * var(--emoteSize));
}
.pet::before {
  content: "";

  /* Set to actual size of 5hearts.png, for example: */
  width: calc(var(--emoteSize) * 5);
  height: var(--emoteSize);

  position: absolute;
  bottom: 0;
  left: 50%;

  background-image: url(./hearts/0.png);
  background-repeat: no-repeat;
  background-size: contain; /* Or `cover`, depending on your design */

  transform: translateX(-50%) translateY(calc(var(--size) + var(--emoteElevation)));
  pointer-events: none;
  opacity: 0;
}

.pet[hearts="0"]::before {
  background-image: url(./hearts/0.png);
}

.pet[hearts="1"]::before {
  background-image: url(./hearts/1.png);
}

.pet[hearts="2"]::before {
  background-image: url(./hearts/2.png);
}

.pet[hearts="3"]::before {
  background-image: url(./hearts/3.png);
}

.pet[hearts="4"]::before {
  background-image: url(./hearts/4.png);
}

.pet[hearts="5"]::before {
  background-image: url(./hearts/5.png);
}

.pet[hearts="6"]::before {
  background-image: url(./hearts/6.png);
}

.pet[hearts="7"]::before {
  background-image: url(./hearts/7.png);
}

.pet[hearts="8"]::before {
  background-image: url(./hearts/8.png);
}

.pet[hearts="9"]::before {
  background-image: url(./hearts/9.png);
}

.pet[hearts="10"]::before {
  background-image: url(./hearts/10.png);
}

.pet:hover::before {
  opacity: 1;
}
